.navbar{
    background-color: $bgColor !important;

    ul li{
        a{
            color: $light !important;
            text-transform: uppercase;
            font-size: 14px;
        }
        .dropdown-menu{
            background-color: $bgColor;
            a:hover{
                background-color: $bgColor;
                color: white !important;
                font-weight: 600;
            }
        }
    }
    img{
        width: 100px;
    }
}