.bg-main{
    background-color: #1F24B2;
}
.bg-white{
    background-color: white !important;
}
.relative{
    position: relative;
}
.absolute-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}