*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
p{
    font-family: 'Bangla', sans-serif;
}
a:hover{
    text-decoration: none !important;
}
body{
    background-color: #fbf1f1 !important;
}
.modal.show .modal-dialog {
  padding-top: 30px;
}
@media(max-width:768px){
	.modal.show .modal-dialog {
	  padding-top: 40%;
	}
}