/*Sass Template*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Bangla", sans-serif;
}

a:hover {
  text-decoration: none !important;
}

body {
  background-color: #fbf1f1 !important;
}

.modal.show .modal-dialog {
  padding-top: 30px;
}

@media (max-width: 768px) {
  .modal.show .modal-dialog {
    padding-top: 40%;
  }
}
.bg-main {
  background-color: #1F24B2;
}

.bg-white {
  background-color: white !important;
}

.relative {
  position: relative;
}

.absolute-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
header .top .logo-area {
  padding: 5px;
}
header .top .logo-area .logo {
  max-width: 65px;
}
header .top .logo-area form {
  width: 100%;
  max-width: 450px;
}
header .top .logo-area form input {
  background-color: #3137d1f5;
  border: 1px solid #494949;
  border-radius: 30px;
  width: 100%;
  padding: 5px;
  color: white;
}
header .top .logo-area form input::placeholder {
  color: wheat;
}
header .top .logo-area form button {
  background-color: #6e6f9100;
  border: 0;
  margin-left: -40px;
}
header .top .logo-area form button::before {
  content: "\f002";
  font-family: fontAwesome;
  color: white;
  background: #4448d4f5;
  padding: 8px;
  border-radius: 50%;
}
header .top .menu-area nav ul {
  padding: 0;
}
header .top .menu-area nav ul li {
  list-style-type: none;
  padding: 3px 6px 0px 3px;
}
header .top .menu-area nav ul li a {
  color: white;
  font-size: 12px;
}
header .top .menu-area nav ul li a i {
  font-size: 30px;
  padding: 5px;
}
header .top .menu-area nav ul li a .menu-active {
  background-color: #3035CF;
  border-radius: 5px;
}

.main-content {
  margin: auto;
  margin-top: 85px;
  max-width: 1100px;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .main-content {
    overflow: hidden;
    margin-top: 120px;
  }
}
#sidebar {
  border-radius: 0px 15px 0px 15px;
  position: sticky !important;
  top: 85px !important;
}
#sidebar .avatar {
  height: 100px;
  width: 100px;
  border: 1px solid #241f1f;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#sidebar nav ul li {
  list-style-type: none;
}
#sidebar nav ul li a {
  color: black;
  font-weight: 600;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}
#sidebar nav ul li a:hover {
  margin-left: 10px;
}
#sidebar nav ul li:before {
  content: "\f101";
  font-family: fontAwesome;
  color: #013301;
  padding-right: 10px;
}

.article-area {
  border-radius: 15px 0px 15px 0px;
  padding: 20px;
  margin-top: 10px;
}
.article-area article {
  border: 1px solid #f0eeee;
  border-radius: 2px;
  padding: 10px 50px;
}
.article-area article .user-info a img {
  width: 35px;
  height: 35px;
  border: 1px solid dimgray;
  border-radius: 50%;
}
.article-area article .user-info a p {
  font-weight: 600;
  color: #1F24B2;
}
.article-area article .image {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .article-area article {
    border: 1px solid #f0eeee;
    border-radius: 2px;
    padding: 10px 5px;
  }
}
.reactions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #ffe7e7;
  grid-gap: 2px;
}
.reactions div {
  border: 1px solid #e4e4e4;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}
.reactions .liked {
  background-color: #ffd6ed;
}
.reactions .liked a::before {
  content: "\f004";
  font-family: fontAwesome;
  padding-right: 5px;
  color: red;
}
.reactions .like a::before {
  content: "\f004";
  font-family: fontAwesome;
  padding-right: 5px;
  color: green;
}
.reactions .comment a::before {
  content: "\f0e6";
  font-family: fontAwesome;
  padding-right: 5px;
}
.reactions .views a::before {
  content: "\f06e";
  font-family: fontAwesome;
  padding-right: 5px;
}

.post-detail {
  min-height: 500px;
}
.post-detail .content-box {
  border: 1px solid #e6e4e4;
  padding: 10px;
}
.post-detail .user-info img {
  width: 35px;
  height: 35px;
  border: 1px solid dimgray;
  border-radius: 50%;
}
.post-detail .user-info a {
  font-weight: 600;
  color: #1F24B2;
}
.post-detail .comments-view .comment-box {
  border: 1px solid #d8d8d8;
  padding: 10px;
  margin-top: 3px;
}
.post-detail .comments-view .comment-box .comment-content p {
  margin-left: 20px;
  border-left: 3px solid black;
  padding-left: 4px;
  margin-top: 5px;
}

footer {
  background-color: black;
  min-height: 25px;
}

/*# sourceMappingURL=style.css.map */
