#register{
    margin: 5px;
    .register-box{
        max-width: 450px;
        padding: 25px 15px;
        background: linear-gradient(to right, #1080ffd3, #8706ffce);
        margin: auto;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);

        label{
            color: white;
            font-weight: 600;
            padding-top: 10px;
            text-transform: uppercase;
        }
        input{
            color: white;
            background-color: black;
        }
    }
    .register-error{
        max-width: 450px;
        padding: 25px 15px;
        background: linear-gradient(to right, #1080ffd3, #8706ffce);
        border: 1px solid black;
        border-radius: 5px;
        margin: auto;
    }
}