/*Global Colors*/
$bgColor: #1F24B2;
$borderColor: blue;
$light:white;
$dark:#121c25;
$accent:rgba(18, 28, 37, 0.74);

/*Border-information*/
$bRadius: 5px;
$bWidth: 2px;
/*Global Font Size*/
$font-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$bigHeading:52px;
$shortHeading:24px;
$mainText:18px;
$shortText:14px;
$fontPublic: 'Public Sans', sans-serif;

/*Global Font Weights*/
$fontWeightBigHeading:700;
$fontWeightShortHeading:600;
$fontWeightText:400;
