#why-us{
    
    font-family: $fontPublic;
    font-weight: 300;
    background-color: rgb(245, 243, 243);

    .text{
        font-size: 18px;
    }
    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 70px;

        img{
            width: 100px;
            text-align: center;
        }
        h4{
            font-size: 24px;
        }
        p{
            font-size: 14px;
        }
    }
    @media (max-width:768px) {
        .absolute-middle img{
            margin-top: 100px;
        }
        .icons{
            margin-top: 120px;
            grid-template-columns: 1fr 1fr;
        }
    }
}